[submodule "third_party/MiDaS"]
	path = third_party/MiDaS
	url = git@github.com:MatthewChang/MiDaS.git
[submodule "third_party/Detic"]
	path = third_party/Detic
	url = https://github.com/facebookresearch/Detic.git
[submodule "third_party/SuperGluePretrainedNetwork"]
	path = third_party/SuperGluePretrainedNetwork
	url = https://github.com/mukulkhanna/SuperGluePretrainedNetwork.git
[submodule "third_party/Grounded-Segment-Anything"]
	path = third_party/Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
[submodule "third_party/habitat-lab"]
	path = third_party/habitat-lab
	url = https://github.com/facebookresearch/habitat-lab